<div class="flex h-full flex-col z-[1000000000] font-Barlow">
    <div id="header"
        class="flex items-center justify-center self-stretch min-h-[48px] bg-secondaryBg px-[15px] gap-[15px] border-y border-solid border-custom-border">
        <span class="text-xs leading-[18px] font-bold text-secondary-heiglight w-full flex gap-[15px] items-center">
            <img src="assets/svg-icons/search-icon.svg" class="w-[14px] h-[14px]" />
            <input matInput placeholder="Search Groups Here" (keyup)="onKeyPress($event)"
                class="outline-none bg-secondaryBg w-full placeholder:text-secondary-heiglight text-secondary-heiglight text-xs leading-[18px] font-bold" />
        </span>
        <span class="text-yellow text-xs min-w-[90px] font-bold leading-[18px] cursor-pointer" (click)="addGroup('addGroup','')">+ Add new group</span>
        <div class="flex items-center">
            <!-- <span class="px-[15px] py-[5px] cursor-pointer bg-primaryBg rounded-[50px] min-w-[44px] !h-[24px] flex justify-center items-center gap-[10px] self-stretch">
                <img src="assets/svg-icons/search-icon.svg" class="w-[14px] h-[14px]" />
            </span> -->
        </div>
        <!-- <div class="flex items-center">
            <span class="px-[15px] py-[5px] bg-primaryBg cursor-pointer rounded-[50px] min-w-[44px] !h-[24px] flex justify-center items-center gap-[10px] self-stretch">
                <img src="assets/svg-icons/filter-icon.svg" class="w-[14px] h-[14px]" />
            </span>
        </div> -->
        
        <span class="w-[16px] !min-w-[16px] !min-h-[14px] h-[14px] cursor-pointer" (click)="closeLibraryDrawer()">
            <img src="assets/svg-icons/drawer-toggle-icon.svg" />
        </span>
    </div>
    <div class="flex flex-col overflow-x-auto h-screen">
        <div class="py-[10px] bg-table-header px-[15px] flex font-Barlow font-medium leading-[18px] text-secondaryText text-xs">
            <span class="min-w-[355px]">Name</span>
            <!-- <span class="min-w-[102.324px]">Updates</span> -->
            <span class="min-w-[120px]">Date saved</span>
            <span class="min-w-[127.933px]">Surface</span>
            <span class="">Objects</span>
        </div>
        @for (group of groups; track group;let index = $index) {
          <ng-container>
            <div [ngClass]="activeIndex == index ? 'bg-[#232B32]':'bg-transparent'">
                <div (click)="rowExpanded(index,group)" [ngClass]="activeIndex == index ? 'bg-[#232B32]':'bg-primaryBg'" class="py-[10px] cursor-pointer flex border-y border-y-solid border-y-custom-border px-[15px] font-Barlow font-medium leading-[18px] text-secondaryText text-xs">
                    <div class="min-w-[355px] flex gap-[15px]">
                        <img [src]="activeIndex == index? 'assets/svg-icons/folder-icon-expanded.svg':'assets/svg-icons/folder-icon.svg'" alt="" />
                        <span >{{group.name}}</span>
                    </div>
                    <!-- <span class="min-w-[102.324px]"></span> -->
                    <span class="min-w-[120px]">{{group.created_at | dateFormat}}</span>
                    <span class="min-w-[127.933px]">{{roundOff(group.surface_area)}}km²</span>
                    <div class="flex gap-[15px] min-w-[85px] justify-between items-center">
                        <span class="text-secondary-heiglight">{{group.total_objects}}</span>
                        <span class="w-[16px] h-[16px] flex cursor-pointer" (click)="$event.stopPropagation();setClass()" [matMenuTriggerFor]="menu">
                            <img src="assets/svg-icons/nav-menu-icon.svg" />
                        </span>
                        <mat-menu class="bg-secondaryBg" panelClass="custom-panel-class"  #menu="matMenu" id="site" overlayPanelClass="custom-backdrop-class">
                            <div class="inline-flex p-[15px] font-Barlow flex-col items-start gap-[15px]">
                                <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Notifications</span>
                                <div class="rounded-[25px] bg-primaryBg flex items-center justify-between">
                                    <button (click)="setNotifications(true,group)"
                                        class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[10px] ml-[7px] rounded-[19px] px-[20px]"
                                        [ngClass]="group?.notification ?'text-[#453303] bg-yellow':'text-secondary-heiglight'">On
                                       </button>
                                    <button (click)="setNotifications(false,group)"
                                        class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[7px] rounded-[19px] px-[20px] "
                                        [ngClass]="!group?.notification?'text-[#453303] bg-yellow':'text-secondary-heiglight'">Off</button>
                                </div>
                                <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="addGroup('addSubgroup',group)">Add subgroup</span>
                                <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="renameGroup('rename',group,'renameGroup')">Rename</span>
                                <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="deleteGroup('delete',group,'deleteGroup')">Delete</span>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div 
          *ngIf="activeIndex === index" 
          class="overflow-y-scroll scroll-div scrollbar scrollbar-thumb-secondaryText transition-all duration-300 ease-in-out pl-[15px]" 
          [ngClass]="activeIndex === index ? 'max-h-[500px] opacity-100' : 'max-h-0 opacity-0'"
        >
        @if (nestedGroupsData?.sites?.length > 0){
            @for (site of nestedGroupsData?.sites;track site;let j = $index){
                <div class="flex flex-col gap-[10px]">
                    <div (click)="getSitesDetail(site)" class="py-[10px] items-center cursor-pointer flex border-y border-y-solid border-y-custom-border font-Barlow font-medium leading-[18px] text-secondaryText text-xs">
                        <div class="min-w-[355px] items-center flex gap-[15px] pl-[5px]">
                            <img [ngClass]="{'point-site': site?.site_type == 'Point'}" class="h-[25px] w-[25px] object-cover" height="30" width="30" [src]="getSiteType(site?.site_type)" alt="" />
                            <span class="w-[225px]">{{site.name}}</span>
                        </div>
                        <!-- <span class="min-w-[102.324px]"></span> -->
                        <span class="min-w-[120px]">{{site.date | dateFormat}}</span>
                        <span class="min-w-[127.933px]">{{roundOff(site?.area)}}km²</span>
                        <div class="flex gap-[15px] min-w-[85px] justify-between items-center">
                            <span class="text-secondary-heiglight">{{site?.count}}</span>
                            <span class="w-[16px] h-[16px] flex cursor-pointer" (click)="$event.stopPropagation();setMainClass()" [matMenuTriggerFor]="siteMenu">
                                <img src="assets/svg-icons/nav-menu-icon.svg" />
                            </span>
                            <mat-menu class="bg-secondaryBg" panelClass="custom-panel-class"  #siteMenu="matMenu" id="site" overlayPanelClass="custom-backdrop-class">
                                <div class="inline-flex p-[15px] font-Barlow flex-col items-start gap-[15px]">
                                    <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Notifications</span>
                                    <div class="rounded-[25px] bg-primaryBg flex items-center justify-between">
                                        <button (click)="updateSite(true,site)"
                                            class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[10px] ml-[7px] rounded-[19px] px-[20px]"
                                            [ngClass]="site?.notification ?'text-[#453303] bg-yellow':'text-secondary-heiglight'">On
                                        </button>
                                        <button (click)="updateSite(false,site)"
                                            class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[7px] rounded-[19px] px-[20px] "
                                            [ngClass]="!site?.notification?'text-[#453303] bg-yellow':'text-secondary-heiglight'">Off</button>
                                    </div>
                                    <!-- <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="addGroup('addSubgroup',group)">Add subgroup</span> -->
                                    <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="renameSite('rename',site)">Rename</span>
                                    <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" (click)="deleteSite('delete',site)">Delete</span>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                    <div *ngIf="activeSite === site?.id" class="overflow-hidden transition-all duration-300 ease-in-out px-[5px]"
                        [ngClass]="activeSite === site?.id ? 'max-h-[500px] opacity-100' : 'max-h-0 opacity-0'">
                        <div class="flex w-full overflow-x-auto px-[10px] py-[15px] flex-col gap-[15px] bg-primaryBg border-b border-b-solid border-custom-border">
                        <div
                            class="flex w-full items-center gap-[15px] self-stretch ">
                            <div class="flex flex-col items-start gap-[15px] flex-0">
                                <div class="flex min-w-[600px] w-full items-center gap-[30px] self-stretch">
                                    <div
                                        class="flex flex-col relative group justify-center items-start px-[8px] content-center flex-wrap
                                        min-w-[135px] py-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg">
                                        <span class="text-secondary-heiglight group text-xs font-bold leading-[18px]">Frequency</span>
                                        <span class="text-secondaryText text-xs font-bold leading-normal">{{siteDetail?.frequency}}</span>
                                        <div
                                            class="hidden absolute shadow-custom left-[0px] z-50 rounded-[10px] top-[80px] w-max text-secondaryText group-hover:flex flex-col bg-secondaryBg p-[10px] font-Barlow">
                                            <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                <span>Frequency of images:</span>
                                                <span>{{siteDetail?.frequency}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col group content-center flex-wrap
                                        relative justify-center items-start px-[8px] min-w-[135px] py-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg">
                                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Most recent</span>
                                        <span class="text-secondaryText text-xs font-bold leading-normal">{{siteDetail?.most_recent_info?.acquisition_datetime |
                                            dateFormat}}</span>
                                            <div
                                                class="hidden absolute shadow-custom left-[0px] z-50 rounded-[10px] top-[80px] w-max text-secondaryText group-hover:flex flex-col bg-secondaryBg p-[10px] font-Barlow">
                                                <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                    <span>Date time:</span>
                                                    <span>{{siteDetail?.most_recent_info?.acquisition_datetime | dateFormat}}
                                                        UTC</span>
                                                </div>
                                                <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                    <span>Vendor:</span>
                                                    <span>{{siteDetail?.most_recent_info?.vendor_name }}</span>
                                                </div>
                                            
                                            </div>
                                    </div>
                                    <div
                                        class="flex flex-col group content-center flex-wrap
                                        relative justify-center items-start px-[8px] min-w-[135px] py-[15px]  self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg">
                                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Gap</span>
                                        <span
                                            class="text-secondaryText text-xs font-bold leading-normal">{{siteDetail?.gap.toFixed(3)}}</span>
                                            <div
                                                class="hidden absolute shadow-custom left-[0px] z-50 rounded-[10px] top-[80px] w-max text-secondaryText group-hover:flex flex-col bg-secondaryBg p-[10px] font-Barlow">
                                                <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                    <span>Days since last image:</span>
                                                    <span>{{siteDetail?.gap.toFixed(3)}}
                                                        </span>
                                                </div>
                                            </div>
                                    </div>
                                    <div
                                        class="flex flex-col group content-center flex-wrap relative justify-center items-start min-w-[135px] px-[8px] py-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg">
                                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Most recent clear</span>
                                        <span class="text-yellow text-xs font-bold leading-normal">{{siteDetail?.most_recent_clear |
                                            dateFormat}}</span>
                                            <div
                                            class="hidden absolute shadow-custom left-[0px] right-[30px] z-50 rounded-[10px] top-[80px] w-max text-secondaryText group-hover:flex flex-col bg-secondaryBg p-[10px] font-Barlow">
                                            <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                <span>Date time:</span>
                                                <span>{{siteDetail?.most_recent_clear_info?.acquisition_datetime | dateFormat}}
                                                    UTC</span>
                                            </div>
                                            <div class="flex gap-[5px] text-sm font-semibold leading-[18px]">
                                                <span>Vendor:</span>
                                                <span>{{siteDetail?.most_recent_clear_info?.vendor_name }}</span>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="w-[30px] h-[16px] ml-[5px] cursor-pointer"
                                                (click)="$event.stopPropagation();markerData(siteDetail)"><img
                                                    src="assets/svg-icons/marker-icon.svg" alt=""></div>
                                   
                                </div>
                            </div>
                        </div>
                        @if (site) {
                            <div
                                class="flex relative flex-col  w-full p-[5px] self-stretch gap-[5px] rounded-[5px] bg-primaryBg">
            
                                @if (calendarData?.length) {
                                <div class="flex flex-col gap-[10px]">
                                    <!-- <div class="flex gap-[5px] font-Barlow flex-wrap"> -->
                                    <!-- <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#272F34] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">Very low</span>
                                                    </div>
                                                    <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#218838] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">Low</span>
                                                    </div>
                                                    <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#B22222] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">Medium</span>
                                                    </div>
                                                    <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#D32F2F] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">High</span>
                                                    </div>
                                                    <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#C70039] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">Very high</span>
                                                    </div>
                                                    <div class="flex items-center flex-col gap-[5px]">
                                                        <span class="w-[15px] h-[15px] bg-[#8B0000] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-xs">Very extreme</span>
                                                    </div> -->
                                    <!-- <div *ngFor="let range of colorRanges" class="flex items-center flex-col gap-[5px]">
                                                    <ng-container *ngIf="range.to != -1">
                                                        <span [style.background]="range.color" class="w-[15px] h-[15px] rounded-[5px]"></span>
                                                        <span class="text-secondaryText text-[10px]">{{ range.name }}</span>
                                                    </ng-container>
                                                    
                                                  </div> -->
                                    <!-- </div> -->
                                    <div class="flex flex-wrap justify-center w-[50%] items-center gap-[20px] mb-[5px]">
                                        <div *ngFor="let range of colorRanges" class="flex items-center flex-col gap-[5px]"
                                        (mouseenter)="hoveredRange = range.name"
                                        (mouseleave)="hoveredRange = null" >
                                          <ng-container 
                                                
                                           >
                                              <span [style.background]="range.color" class="w-[15px] h-[15px] rounded-[5px]"></span>
                                              <span class="text-secondaryText text-[10px]">{{ range.start }}-{{ range.end }}</span>
                                          </ng-container>
                                          
                                        </div>
                                        </div>
                            
                                     <div class="flex gap-[15px]">
                                    <div *ngFor="let month of calendarData" class="month border border-solid border-custom-border">
                                        <!-- <div class="flex flex-wrap gap-[10px] pb-[10px] justify-center">
                                          <div class="flex gap-[5px]" *ngFor="let legend of legens_calendar">
                                            <div class="flex flex-col items-center gap-[5px]">
                                              <div class="w-[20px] h-[20px] rounded-[5px]" [ngStyle]="{'background-color':legend?.color}"></div>
                                              <div class="text-secondaryText text-sm font-medium leading-[18px] font-Barlow">{{legend?.min}}-{{legend?.max}}</div>
                                            </div>
                                    
                                          </div>
                                        </div> -->
                                        <div class="month-header !text-secondaryText">{{ month.name }}</div>
                                        
                                        <!-- Weekday Labels -->
                                        <div class="weekday-labels">
                                          <div *ngFor="let day of weekDays" class="weekday">
                                            {{ day }}
                                          </div>
                                        </div>
                                    
                                        <div class="weeks">
                                          <div *ngFor="let week of month.weeks" class="week">
                                            <div
                                              *ngFor="let day of week"
                                              [style.background-color]="day?.backgroundValue"
                                              [style.color]="day?.colorValue"
                                              class="day group relative"
                                              [ngClass]="hoveredRange == day.rangeName? '!bg-[#93b3ce]':''"
                                              (mouseenter)="calculateTooltipPosition($event, day)"
                                              (mouseleave)="clearTooltipPosition(day)"
                                            >
                                            {{ getDayFromDate(day.date) }}
                                              <div *ngIf="day.value>0" [ngStyle]="tooltipPosition[day.date]" class="group-hover:inline-flex min-w-[160px] z-[9999999999] w-max absolute hidden font-Barlow p-[15px] flex-col items-start gap-[15px] rounded-[10px] bg-secondaryBg shadow-custom">
                                                <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">{{getDate(month.name,day)}}</span>
                                                <span class="text-secondaryText text-sm font-medium leading-[18px]">{{day.value}} images available</span>
                                                <!-- <span class="text-yellow pt-[15px] border-t border-t-solid border-t-custom-border text-xs font-bold leading-[18px]">Browse images</span> -->
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                </div>
                                } @else {
                                <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">No heatmap data found</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        @for (nestedGroup of nestedGroupsData?.subgroups;track nestedGroup  ;let i = $index){
            <ng-container>
                <app-groups-list 
            [group]="nestedGroup" 
            (selectedGroup)="selectedGroupEvent($event)" 
            [index]="i"
            [type]="'Groups'"
            [padding]="'15'"
          ></app-groups-list>
            </ng-container>
        }
          
        </div>
            </div>
           
          </ng-container>
        }
    </div>
  </div>