.group {
    margin-left: 20px;
  }
  .group-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .group-header:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .icon-folder {
    color: gray;
    margin-right: 8px;
  }
  .icon-folder-open {
    color: yellow;
    margin-right: 8px;
  }
  .subgroup {
    padding-left: 20px;
  }