<div class="flex h-full flex-col gap-3 z-[1000000000]">
  <div
    id="header"
    class="flex items-center justify-between h-[70px] bg-secondaryBg p-3"
  >
    <span class="text-xs leading-[18px] font-semibold text-secondary-heiglight"
      >Imagery Logs</span
    >

    <div class="flex items-center justify-center gap-[15px]">
      <div class="relative flex justify-center items-center">
        <button
          class="flex gap-[5px] font-Barlow text-base font-medium justify-center items-center w-[70px] h-[50px] my-0 ml-[8px] rounded-[19px]"
          [ngClass]="filterCount > 0 ? 'bg-yellow ' : 'bg-primaryBg'"
          (click)="setFilterClass()"
          [matMenuTriggerFor]="filter"
          #menuFilterTrigger="matMenuTrigger"
        >
          <img
            [src]="
              filterCount > 0
                ? 'assets/svg-icons/filter-icon-active.svg'
                : 'assets/svg-icons/filter-icon.svg'
            "
            alt=""
          />
          {{ filterCount > 0 ? filterCount : "" }}
        </button>
        <mat-menu
          #filter="matMenu"
          (click)="$event.stopPropagation()"
          id="filter"
          class="bg-primaryBg"
          (closed)="onMenuClose()"
        >
          <div class="p-[15px]" (click)="$event.stopPropagation()">
            <div class="flex flex-col font-Barlow gap-[15px] w-[330px]">
              <span
                class="text-sm text-secondaryText font-Barlow font-bold leading-[18px]"
                >Apply filters</span
              >
              <mat-form-field appearance="outline" id="filter-imagery">
                <mat-label class="!text-secondaryText">Vendor name</mat-label>
                <mat-select
                  class="!text-secondaryText"
                  multiple
                  [formControl]="vendor"
                  name="vendor"
                >
                  @for (vendor of vendorsList; track vendor) {
                  <mat-option [value]="vendor">{{ vendor }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field
                (click)="openStartDatePicker()"
                appearance="outline"
                id="filter-imagery"
                class=""
              >
                <mat-label>Start date</mat-label>
                <input
                  #startDatePicker
                  matInput
                  type="text"
                  ngxDaterangepickerMd
                  [(ngModel)]="start_date"
                  [singleDatePicker]="true"
                  [locale]="locale"
                  [autoApply]="true"
                  [maxDate]="maxDate"
                  (datesUpdated)="onStartDateChange($event)"
                  (focus)="onStartDateFocus()"
                />
              </mat-form-field>
              <mat-form-field
                (click)="openEndDatePicker()"
                appearance="outline"
                id="filter-imagery"
                class=""
              >
                <mat-label>End date</mat-label>
                <input
                  #endDatePicker
                  matInput
                  type="text"
                  ngxDaterangepickerMd
                  [(ngModel)]="end_date"
                  [singleDatePicker]="true"
                  [locale]="locale"
                  [autoApply]="true"
                  [maxDate]="maxDate"
                  [minDate]="minDate"
                  (datesUpdated)="onEndDateChange($event)"
                  (focus)="onEndDateFocus()"
                />
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" id="filter" (click)="$event.stopPropagation()">
                            <mat-label>Start date</mat-label>
                            <input matInput [matDatepicker]="start" formControlName="start_date">
                              <mat-hint>MM/DD/YYYY</mat-hint>
                              <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                              <mat-datepicker #start></mat-datepicker>
                        </mat-form-field> -->
              <div class="flex gap-3 justify-center">
                <button
                  (click)="closeFilterMenu()"
                  class="text-xs w-1/2 leading-[18px] py-[9px] font-semibold my-[7px] mr-[7px] rounded-[10px] px-[20px] bg-secondary-heiglight text-secondaryText"
                  type="button"
                >
                  Cancel
                </button>
                <button
                  class="text-xs w-1/2 leading-[18px] py-[9px] font-semibold my-[7px] mr-[7px] rounded-[10px] px-[20px] bg-yellow text-[#453303]"
                  (click)="onSubmit()"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </mat-menu>
      </div>
      <span
        class="p-[10px] flex bg-yellow rounded-[10px] text-secondaryBg font-Barlow text-sm font-medium cursor-pointer"
        (click)="resetFilter()"
        >Reset</span
      >
      <span
        class="w-[16px] h-[14px] cursor-pointer"
        (click)="closeLibraryDrawer()"
      >
        <img src="assets/svg-icons/drawer-toggle-icon.svg" />
      </span>
    </div>
  </div>

  <div
    class="overflow-auto content scrollbar scrollbar-thumb-secondaryText scrollbar-track-gray-200"
    id="imagery_table"
    #scrollableDiv
  >
    @if (dataSource) {
    <div
      class="w-full flex justify-center items-center"
      *ngIf="!dataSource.data.length"
    >
      <span
        class="text-xs leading-[18px] font-semibold text-secondary-heiglight"
        >Data not found</span
      >
    </div>
    <table
      id="library-table"
      style="
        background-color: rgb(32 39 45 / var(--tw-bg-opacity, 1)) !important;
      "
      mat-table
      [dataSource]="dataSource"
      matSort
      multiTemplateDataRows
      class="font-Barlow mat-elevation-z8 bg-primaryBg w-full border border-secondaryText rounded-lg"
      [ngClass]="dataSource.data.length ? 'opacity-100' : 'opacity-0'"
    >
      <ng-container matColumnDef="acquisition_datetime">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="min-w-[185px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
        >
          Date
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="min-w-[185px] min-h-[52px] !pl-[10px] flex items-center !border-b !border-b-solid !border-b-secondaryText"
        >
          <span class="text-secondaryText font-Barlow">{{ row?.date }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="successful">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="min-w-[70px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
        >
          Successful
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="min-w-[70px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
        >
          {{ row?.total_success }}
          <div class="group-hover:flex bg-secondaryBg absolute w-[280px] p-[10px] z-50 text-sm shadow-custom-light rounded-sm hidden gap-[10px] font-Barlow">
            <span class="text-secondaryText ">{{ row?.total_success }} of footprints successfully processed</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="failed">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="min-w-[90px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
        >
          Failed
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="min-w-[90px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
        >
          {{ row?.total_failed }}
          <div class="group-hover:flex bg-secondaryBg absolute w-[550px] -left-[210px] z-50 shadow-custom-light text-sm p-[10px] rounded-sm hidden gap-[10px] font-Barlow">
            <span class="text-secondaryText">{{row?.total_failed}} of footprints failed to be processed due to duplicates, improper geometry, etc</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
        >
          Total
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="min-w-[80px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
        >
          {{ row?.total }}
          <div class="group-hover:flex bg-secondaryBg absolute w-[231px] p-[10px] text-sm z-50 shadow-custom-light rounded-sm hidden gap-[10px] font-Barlow">
            <span class="text-secondaryText ">{{ row?.total }} of total footprints processed</span>
          </div>
        </td>
        
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"></th>
        <td mat-cell *matCellDef="let element"   class="min-w-[80px] !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
            } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
            }
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="example-element-detail"
            *ngIf="element.records?.length"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="inner-table mat-elevation-z8">
              <table  mat-table [dataSource]="element.records">
                <ng-container matColumnDef="date">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
                  >
                    Date Time
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    class="min-w-[80px] !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
                  >
                    {{ row?.start_datetime | utcDateTimePipe }} UTC
                  </td>
                </ng-container>
                <ng-container matColumnDef="vendor_name">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
                  >
                    Vendor Name
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    class="min-w-[80px] !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
                  >
                    {{ row?.vendor_name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="successful">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
                  >
                    Successful
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    class="min-w-[80px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
                  >
                    {{ row?.message?.valid_records }}
                    <div class="group-hover:flex bg-secondaryBg absolute w-[280px] p-[10px] z-50 text-sm shadow-custom-light rounded-sm hidden gap-[10px] font-Barlow">
                      <span class="text-secondaryText ">{{ row?.message?.valid_records }} of footprints successfully processed</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="failed">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
                  >
                    Failed
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    class="min-w-[80px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
                  >
                    {{ row?.message?.invalid_records }}
                    <div class="group-hover:flex bg-secondaryBg absolute w-[550px] -left-[330px] z-50 shadow-custom-light text-sm p-[10px] rounded-sm hidden gap-[10px] font-Barlow">
                      <span class="text-secondaryText">{{ row?.message?.invalid_records }} of footprints failed to be processed due to duplicates, improper geometry, etc</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="min-w-[80px] !pl-[10px] text-secondaryText font-semibold !border-b !border-b-solid !border-b-secondaryText"
                  >
                    Total
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let row"
                    class="min-w-[80px] group relative !overflow-visible !pl-[10px] text-secondaryText !border-b !border-b-solid !border-b-secondaryText"
                  >
                    {{ row?.message?.total_records }}
                    <div class="group-hover:flex bg-secondaryBg absolute w-[231px] -left-[125px] p-[10px] text-sm z-50 shadow-custom-light rounded-sm hidden gap-[10px] font-Barlow">
                      <span class="text-secondaryText ">{{ row?.message?.total_records }} of total footprints processed</span>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="innerDisplayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: innerDisplayedColumns"
                ></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        class="bg-secondaryBg"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let element;
          let row;
          let i = dataIndex;
          columns: displayedColumns;
        "
        [class.example-element-row]="element.records?.length"
        [class.example-expanded-row]="expandedElement === element"
        (click)="toggleRow(element)"
        class="hover:bg-secondaryHighlight cursor-pointer"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    } @else {
    <div class="w-full flex justify-center items-center">
      <span
        class="text-xs leading-[18px] font-semibold text-secondary-heiglight"
        >Data not found</span
      >
    </div>
    }
  </div>
</div>
