

<div class="flex bg-primaryBg w-lvw" (click)="hideMenu()">
<span  class="flex items-center justify-center min-w-[60px] h-[40px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
     <img src="assets/svg-icons/menu-icon.svg" alt=""/>
</span>
<!-- (click)="onToggleDrawer('library')" -->
<div (click)="onToggleDrawer('library')" class="flex items-center justify-center min-w-[135px] w-auto h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/location-icon-active.svg" alt="" *ngIf="toggleType === 'library'" />
    <img src="assets/svg-icons/location-icon.svg" alt="" *ngIf="toggleType !== 'library'" />
    <span class="text-xs leading-[18px] font-Barlow uppercase font-bold" [ngClass]="toggleType === 'library' ? 'text-yellow':'text-secondaryText'">library</span>
</div>
<!-- <div (click)="onToggleDrawer('Sites')" class="flex items-center justify-center min-w-[119px] w-auto h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/sites-icon.svg" alt="" *ngIf="toggleType !== 'Sites'" />
    <img src="assets/svg-icons/sites-active-icon.svg" alt="" *ngIf="toggleType === 'Sites'" />
    <span class="text-xs leading-[18px] font-Barlow uppercase font-bold" [ngClass]="toggleType === 'Sites' ? 'text-yellow':'text-secondaryText'">Sites</span>
</div> -->
<div (click)="onToggleDrawer('Groups')" class="flex items-center justify-center min-w-[134px] w-auto h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img [src]="toggleType === 'Groups' ? 'assets/svg-icons/file-icon-active.svg' :'assets/svg-icons/file-icon.svg'" alt="" />
    <span class="text-secondary text-xs leading-[18px] font-Barlow uppercase font-bold" [ngClass]="toggleType === 'Groups' ? 'text-yellow':'text-secondaryText'">Groups</span>
</div>
<div (click)="onToggleDrawer('Imagery')" class="flex items-center justify-center min-w-[119px] w-auto h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <!-- <img src="assets/svg-icons/sites-icon.svg" alt="" *ngIf="toggleType !== 'Sites'" />
    <img src="assets/svg-icons/sites-active-icon.svg" alt="" *ngIf="toggleType === 'Sites'" /> -->
    <span class="text-xs leading-[18px] font-Barlow uppercase font-bold" [ngClass]="toggleType === 'Imagery' ? 'text-yellow':'text-secondaryText'">Imagery Logs</span>
</div>
<div (click)="onToggleDrawer('analysis')" class="flex items-center justify-center min-w-[119px] w-auto h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <!-- <img src="assets/svg-icons/sites-icon.svg" alt="" *ngIf="toggleType !== 'Sites'" />
    <img src="assets/svg-icons/sites-active-icon.svg" alt="" *ngIf="toggleType === 'Sites'" /> -->
    <span class="text-xs leading-[18px] font-Barlow uppercase font-bold" [ngClass]="toggleType === 'analysis' ? 'text-yellow':'text-secondaryText'">Analysis</span>
</div>
<span class="flex justify-between  w-[1252px] h-[40px] py-1.5 px-5 bg-inputBg">
    <input #searchInput type="text" placeholder="Search ..." class="bg-inherit placeholder:!text-secondary-heiglight border-0 outline-0 w-full !text-secondaryText text-xs font-bold font-Barlow" />
    <img height="14px" width="14px" src="assets/svg-icons/search-icon.svg" alt="" />
</span>
<div>
    <span class="flex items-center justify-center min-w-[60px] w-auto h-[40px] border-r-0 border-l- border-y-0 border-secondary cursor-pointer">
        <img src="assets/svg-icons/notification-icon.svg" alt="" (click)="setClass()" [matMenuTriggerFor]="menu" />
    </span>
    <mat-menu class="bg-secondaryBg"   #menu="matMenu" id="site">
        <app-notifications ></app-notifications>
    </mat-menu>
</div>

<span class="flex items-center justify-center min-w-[60px] w-auto h-[40px] border-r-0 border-l border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/user-icon.svg" alt="" />
</span>

</div>