<div class="flex bg-primaryBg">
<span (click)="onToggleDrawer('menu')" class="flex items-center justify-center w-[60px] h-[40px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/menu-icon.svg" alt="" />
</span>
<div (click)="onToggleDrawer('library')" class="flex items-center justify-center w-[135px] h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/location-icon.svg" alt="" />
    <span class="text-yellow text-xs leading-[18px] font-Barlow uppercase font-bold">library</span>
</div>
<div class="flex items-center justify-center w-[119px] h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/sites-icon.svg" alt="" />
    <span class="text-secondary text-xs leading-[18px] font-Barlow uppercase font-bold">Sites</span>
</div>
<div class="flex items-center justify-center w-[134px] h-[40px] py-1.5 px-[30px] gap-[15px] border-r border-l-0 border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/file-icon.svg" alt="" />
    <span class="text-secondary text-xs leading-[18px] font-Barlow uppercase font-bold">Groups</span>
</div>
<span class="flex justify-between  w-[1252px] h-[40px] py-1.5 px-5 bg-inputBg">
    <input type="text" placeholder="Search" class="bg-inherit border-0 outline-0 w-full text-secondary" />
    <img height="14px" width="14px" src="assets/svg-icons/search-icon.svg" alt="" />
</span>
<span class="flex items-center justify-center w-[60px] h-[40px] border-r-0 border-l- border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/notification-icon.svg" alt="" />
</span>
<span class="flex items-center justify-center w-[60px] h-[40px] border-r-0 border-l border-y-0 border-secondary cursor-pointer">
    <img src="assets/svg-icons/user-icon.svg" alt="" />
</span>

</div>