<mat-drawer-container id="menu-drawer" class="example-container" autosize>
  
<div class="h-screen min-h-[700px] relative !bg-[#234436] z-30">
  <div class="bg-[#131f07]">
  <div class="fixed top-0 z-30"><app-header [toggleDrawer]="toggleDrawer.bind(this)" (toggleEvent)="handleToggleEvent($event)" (searchEvent)="onSearchLocation($event)"></app-header></div>
  <mat-drawer #drawer class="!bg-primaryBg mt-[55px] !block !z-50 !h-screen !w-[805px]" mode="side">
    <app-sidebar-drawer [type]="type"></app-sidebar-drawer>
  </mat-drawer>
  <div #mapContainer id="mapContainer" class="map  h-full absolute opacity-50"></div>
  <div class="flex justify-end end-0 gap-3 pr-[12px] absolute bottom-[12px]">
    <div class="relative z-30 w-full">
     <app-footer (drawTypeSelected)="setDrawType($event)" [zoomLevel]="zoomLevel" (zoomIn)="zoomIn()" (zoomOut)="zoomOut()" [longitude]="longitude" [latitude]="latitude"></app-footer>
    </div>
  </div>
  <div class="relative flex ">
    <div class="absolute right-0 min-h-[200px] min-w-[40px] w-auto rounded-[5px] bg-secondaryBg z-40 mr-[12px] top-[50px]">
      <div class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer" (click)="handleAction('location')">
        <img src="assets/svg-icons/pin-location-icon.svg" alt="pin location icon" />
      </div>
      <div class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointe" (click)="handleAction('polygon')">
        <img src="assets/svg-icons/polygon-draw-icon.svg" alt="pin location icon" />
      </div>
      <div class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointe" (click)="handleAction('line')">
        <img src="assets/svg-icons/line-draw-icon.svg" alt="pin location icon" />
      </div>
      <div class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointe" (click)="handleAction('settings')">
        <img src="assets/svg-icons/filter-icon.svg" alt="pin location icon" />
      </div>
      <div class="p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointe" (click)="handleAction('layers')">
        <img src="assets/svg-icons/layer-icon.svg" alt="pin location icon" />
      </div>
    </div>

  </div>
  
  <!-- <div class="drawing-controls z-30 relative flex gap-3 text-white">
    <button (click)="setDrawType('Polygon')">Draw Polygon</button>
    <button (click)="setDrawType('Circle')">Draw Circle</button>
    <button (click)="setDrawType('Box')">Draw Box</button>

  </div> -->
</div>
</div>
</mat-drawer-container>