<mat-drawer-container id="menu-drawer" class="example-container" autosize>
  <div 
    class="h-screen min-h-[700px] cursor-default relative overflow-hidden"
    [ngClass]="isGoogleLayerActive === 'OpenStreetMapDark' ||  isGoogleLayerActive === 'GoogleStreetMapDark' ? '!bg-[#234436]' : ' z-30'"
  >
  @if (footprintLoader) {
    <div class="!z-[1000000000000] top-0 absolute  !bg-[rgba(32,39,45,0.2)]
    h-screen w-full" ><ngx-ui-loader loaderId="buttonLoader"></ngx-ui-loader></div>
}
    <div
      class="cursor-default"
      [ngClass]="isGoogleLayerActive === 'OpenStreetMapDark' ||  isGoogleLayerActive === 'GoogleStreetMapDark' ? 'bg-[#131f07]  z-30 h-full' : ' z-30 h-full'"
    >
      <div id="header" class="fixed top-0 z-30" (click)="closeDropdown()">
        <app-header
          [toggleDrawer]="toggleDrawer.bind(this)"
          (toggleEvent)="handleToggleEvent($event)"
          (searchEvent)="onSearchLocation($event)"
          [isDrawerOpen]="isDrawerOpen"
          [toggleType]="type"
          
        ></app-header>
      </div>
      <div class="relative cursor-default draggable-resizable-container" id="draggableContainer"  #draggableContainer>
        <button class="drag-btn" id="dragBtn"><||></button>
        <mat-drawer 
          #drawer 
          class="library"
          [ngClass]="{ '!bg-primaryBg': true, 'open': drawer._animationState === 'open' }" 
          mode="side"
          >
         <!-- @if (drawer._animationState === 'open') { -->
          <div class="z-[999999999999] h-full">
          <app-sidebar-drawer 
            (closeSidebar)="closeDrawer()" 
            (onFilterset)="onFilterset($event)" 
            (notifyParent)="receiveData($event)"  
            (addMarkerToMap)="handleMakerData($event)" 
            (rowHoveredData)="highLightShape($event)" 
            [popUpData]="popUpData" 
            [shapeHoverData]="shapeHoverData" 
            [zoomed_wkt]="zoomed_wkt_polygon" 
            [polygon_wkt]="polygon_wkt" 
            [type]="type" 
            [endDate]="endDate" 
            [startDate]="startDate"
            [sidebarWidth]="sidebarWidth"
            ></app-sidebar-drawer>
          </div>
         <!-- }  -->
        </mat-drawer>
        <!-- @if (OpenEventCalendar) {
          <div class="z-[1000000] text-secondaryText " >
            <app-map-calendar [endDateCal]="endDate" [startDateCal]="startDate" [calendarApiData]="calendarApiData"></app-map-calendar>
          </div>
        } -->
      </div>
      <div (click)="closeDropdown()"
        #mapContainer
        id="mapContainer"
        class="map h-full absolute"
        [ngClass]="{
          'z-0': isGoogleLayerActive !== 'OpenStreetMapDark' && isGoogleLayerActive !== 'GoogleStreetMapDark',
          'opacity-50': isGoogleLayerActive === 'OpenStreetMapDark' || isGoogleLayerActive === 'GoogleStreetMapDark',
        }" 
         [ngStyle]="{ 'margin-left.px': sidebarWidth -marginleft}"             
      ></div>
      <div
        class="flex justify-start  end-0 gap-3 pr-[12px] absolute bottom-[12px]"
      >
        <div class="relative z-50 " [ngClass]="drawer._animationState === 'open'? 'ml-[820px] !w-fill-available':'w-full'">
          <app-footer #childComponent
            (toggleLayer)="toggleMapLayer($event)"
            (drawTypeSelected)="setDrawType($event)"
            [zoomLevel]="zoomLevel"
            (zoomIn)="zoomIn()"
            (zoomOut)="zoomOut()"
            (zoomLevelChange)="onZoomLevelChange($event)"
            [longitude]="longitude"
            [latitude]="latitude"
            (dateRangeChanged)="onDateRangeChanged($event)"
            [ActiveLayer]="isGoogleLayerActive"
            [isDropdownOpen]="isDropdownOpen" 
            (toggleDropdownEvent)="handleDropdownToggle($event)"
            (toggleLayersEvent)="handleLayersToggle($event)"
            [showLayers]="showLayers"
            [drawStatus]="drawer._animationState"
          ></app-footer>
        </div>
      </div>
      <div class="relative flex" (click)="closeDropdown()">
        <div
          class="absolute right-0 min-h-[120px] min-w-[40px] w-auto rounded-[5px] bg-secondaryBg z-40 mr-[12px] top-[50px]"
        >
          <div
            class="border-b relative border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer"
            [ngClass]="
              currentAction === 'location' ? 'bg-yellow rounded-t-[5px]' : ''
            "
            (click)="handleAction('location')"
          >
            @if (currentAction === 'location') {
            <img
              src="assets/svg-icons/pin-location-active.svg"
              alt="pin location icon"
            />
            } @if (currentAction !== 'location') {
            <img
              src="assets/svg-icons/pin-location-icon.svg"
              alt="pin location icon"
            />
            }
          </div>
          <div
            class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer"
            [ngClass]="currentAction === 'polygon' ? 'bg-yellow' : ''"
            (click)="handleAction('polygon')"
          >
            @if (currentAction === 'polygon') {
            <img
              src="assets/svg-icons/polygon-draw-icon-active.svg"
              alt="pin location icon"
            />
            } @if (currentAction !== 'polygon') {
            <img
              src="assets/svg-icons/polygon-draw-icon.svg"
              alt="pin location icon"
            />
            }
          </div>
          <div
            class="p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer"
            [ngClass]="
              currentAction === 'line' ? 'bg-yellow rounded-b-[5px]' : ''
            "
            (click)="handleAction('line')"
          >
            @if (currentAction === 'line') {
            <img
              src="assets/svg-icons/line-draw-icon-active.svg"
              alt="pin location icon"
            />
            } @if (currentAction !== 'line') {
            <img
              src="assets/svg-icons/line-draw-icon.svg"
              alt="pin location icon"
            />
            }
          </div>
          <!-- <div class="border-b border-b-solid border-custom-border p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer" (click)="handleAction('settings')">
        <img src="assets/svg-icons/filter-icon.svg" alt="pin location icon" />
      </div>
      <div class="p-[10px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer" (click)="handleAction('layers')">
        <img src="assets/svg-icons/layer-icon.svg" alt="pin location icon" />
      </div> -->
        </div>
        <div
        class="p-[10px] right-0 top-[235px] mr-[12px] absolute rounded-[5px] h-[40px] min-w-[40px] w-auto flex justify-center items-center cursor-pointer"
        [ngClass]="
          footPrintActive ? 'bg-yellow rounded-b-[5px]' : 'bg-secondaryBg'
        "
        (click)="handleFootprintToggle()"
      >
        <img class="h-[20px] w-[20px]"
          [src]="footPrintActive ? 'assets/svg-icons/footprint-active-icon.svg':'assets/svg-icons/footprint-hide-icon.svg'"
          alt="Footprint icon"
        />
      </div>
      </div>
      

      <!-- <div class="drawing-controls z-30 relative flex gap-3 text-white">
    <button (click)="setDrawType('Polygon')">Draw Polygon</button>
    <button (click)="setDrawType('Circle')">Draw Circle</button>
    <button (click)="setDrawType('Box')">Draw Box</button>

  </div> -->
    </div>
    <div *ngIf="vendorData" @slideInOut
              class="absolute !top-[40px] !right-[10px] h-auto flex-col !z-50 w-64 flex items-center justify-center text-lg rounded-lg shadow-lg">
              <div class="flex items-center justify-start w-[270px] h-[48px] bg-secondaryBg p-3">
                <span class="w-[16px] h-[14px] cursor-pointer" (click)="closeMarkerPopup()">
                    <img class="rotate-180" src="assets/svg-icons/drawer-toggle-icon.svg" />
                </span>
            </div>
              <app-map-controllers-popup [type]="'vendor'" ></app-map-controllers-popup>
            </div>
            <!-- <div *ngIf="loader" class="z-[100000000000] absolute top-[50%] left-[50%]" id="loader"> <ngx-ui-loader></ngx-ui-loader>ddssss</div> -->
  </div>
</mat-drawer-container>
