@if (isLoading) {
    <div class="z-[1000000] absolute  bg-[rgba(32,39,45,0.3)]
    h-screen w-full" > <ngx-ui-loader loaderId="customLoader"></ngx-ui-loader></div>
}
<div  class=" min-w-[160px] z-[9999999999] w-max absolute flex top-[47px] right-[10px] font-Barlow p-[15px] flex-col items-start gap-[15px] rounded-[10px] bg-secondaryBg shadow-custom">
    <div class="flex gap-2 items-center font-Barlow">
        <span class="text-secondaryText text-xs font-bold leading-[18px] w-[76px]">Site name:</span>
        <span class="text-secondaryText text-xs font-bold leading-[18px]">Untitled Site</span>
    </div>
    <div class="flex gap-2 items-center font-Barlow">
        <span class="text-secondaryText text-xs font-bold leading-[18px] w-[76px]">ID:</span>
        <span class="text-secondaryText text-xs font-bold leading-[18px]">33</span>
    </div>
    <div class="flex gap-2 items-center font-Barlow">
        <span class="text-secondaryText text-xs font-bold leading-[18px] w-[76px]">Date:</span>
        <span class="text-secondaryText text-xs font-bold leading-[18px]">2025-03-11 12:30:00</span>
    </div>
    <div class="flex gap-2 items-center font-Barlow">
        <span class="text-secondaryText text-xs font-bold leading-[18px] w-[76px]">Update count:</span>
        <span class="text-secondaryText text-xs font-bold leading-[18px]">443</span>
    </div>

    <!-- <span class="text-yellow pt-[15px] border-t border-t-solid border-t-custom-border text-xs font-bold leading-[18px]">Browse images</span> -->
  </div>
<app-home></app-home>


