<div class="dialog-content  bg-secondaryBg p-[15px]">
    <div class="flex flex-col">
        <div class="resizable-image bg-secondary-heiglight flex justify-center items-center">
            @if (data.images.data[currentIndex].presigned_url) {
                <img  [src]="data?.images?.data[currentIndex]?.presigned_url" alt="Preview" class="resizable-image object-contain w-full">
            } @else {
                <span class="text-lg leading-6 font-semibold text-secondary-heiglight">Image not found</span>
            }
        </div>

        <div class="flex bg-primaryBg p-[15px] gap-[15px] items-center justify-between font-Barlow">
            <div class="flex gap-[15px]">
                <div class="flex gap-[15px] h-[20px] items-center justify-between">
                    <span class="cursor-pointer flex w-[20px] h-[20px]"><img src="assets/svg-icons/left-arrow-icon.svg" alt="" (click)="previousImage()"></span>
                    <span class="cursor-pointer flex w-[20px] h-[20px]"><img src="assets/svg-icons/right-arrow-icon.svg" alt="" (click)="nextImage()"></span>
                </div>
                
                <div class="flex gap-[15px]">
                    <span class="text-secondaryText font-medium leading-[18px]">{{getFormattedDate(data?.images?.data[currentIndex]?.acquisition_datetime) || '10/13/2024'}}</span>
                    <span class=" text-secondaryText font-medium leading-[18px]">{{formatUtcTime(data?.images?.data[currentIndex]?.acquisition_datetime) || '19.37.15 UTC'}}</span>
                </div>
            </div>
            <div>
                <img src="assets/svg-icons/cross-icon.svg" class="cursor-pointer" (click)="closeDialog()" alt="">
            </div>
        </div>
    </div>
</div>
