@if (data.type === 'marker') {
   <div class="flex p-[15px] flex-col items-start gap-[15px] rounded-[5px] bg-primaryBg z-40">
    <div class="flex flex-col items-start gap-[5px] self-stretch">
        <span class="flex-0 text-secondary-heiglight font-Barlow font-bold text-xs leading-[18px]">Name</span>
        <div class="flex items-center gap-[15px] self-stretch w-full">
            <input class="!bg-transparent !outline-none w-full" matInput type="text" placeholder="Untitled point" />
            <span class="h-[16px] w-[16px]">
                <img src="/assets/svg-icons/vector-icon.svg" alt="" />
            </span>          
        </div>
    </div>
    <div class="flex flex-col items-start gap-[5px] self-stretch">
        <span class="flex-0 text-secondary-heiglight font-Barlow font-bold text-xs leading-[18px]">Address</span>
        <div class="flex items-center gap-[15px] self-stretch w-full">
            <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-secondaryText w-full break-words">W Middlefield Rd, Mountain View, CA, 
                USA</span>
            <span class="h-[17px] w-[16px]">
                <img src="/assets/svg-icons/copy-icon.svg" alt="" />
            </span>          
        </div>
    </div>
    <div class="flex flex-col items-start gap-[5px] self-stretch">
        <span class="flex-0 text-secondary-heiglight font-Barlow font-bold text-xs leading-[18px]">Group</span>
        <div class="flex items-center gap-[15px] self-stretch w-full">
            <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-yellow">Assign to a group</span>         
        </div>
    </div>
    <div class="flex flex-col items-start gap-[5px] self-stretch">
        <span class="flex-0 text-secondary-heiglight font-Barlow font-bold text-xs leading-[18px]">Image acquisition</span>
        <div class="flex items-center gap-[15px] self-stretch w-full">
            <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-yellow">Assign to a group</span>         
        </div>
        <div class="flex p-[15px] flex-col items-start gap-[15px] self-stretch rounded-[10px] border border-solid border-custom-border">
            <div class="flex items-center gap-[5px] self-stretch">
                <div class="flex h-[60px] min-w-[61.25px] p-[8px] bg-secondaryBg rounded-[5px] flex-col items-center gap-[5px] flex-0">
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">Oldest</span>
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">09.03.22</span>
                </div>
                <div class="flex h-[60px] min-w-[61.25px] p-[8px] bg-secondaryBg rounded-[5px] flex-col items-center gap-[5px] flex-0">
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">Newest</span>
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">27.09.24</span>
                </div>
                <div class="flex h-[60px] min-w-[61.25px] p-[8px] bg-secondaryBg rounded-[5px] flex-col items-center gap-[5px] flex-0">
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">Total</span>
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">8660</span>
                </div>
                <div class="flex h-[60px] min-w-[61.25px] p-[8px] bg-secondaryBg rounded-[5px] flex-col items-center gap-[5px] flex-0">
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">Avg</span>
                    <span class="text-secondary-heiglight text-xs font-bold font-Barlow leading-[18px]">34</span>
                </div>
            </div>
            <div class="p-[3px] flex justify-between items-center self-stretch rounded-[50px] bg-secondaryBg">
                <span class="flex justify-center items-center flex-0 self-stretch text-xs font-bold font-Barlow leading-normal min-w-[50.8px] cursor-pointer"
                [ngClass]="selectedTimeFrame === '24h' ? 'bg-primaryBg rounded-[50px] text-secondaryText':'text-secondary-heiglight'" (click)="activeTimeFrame('24h')">
                    24h
                </span>
                <span class="flex justify-center items-center flex-0 self-stretch text-xs font-bold font-Barlow leading-normal min-w-[50.8px] cursor-pointer"
                [ngClass]="selectedTimeFrame === '72h' ? 'bg-primaryBg rounded-[50px] text-secondaryText':'text-secondary-heiglight'" (click)="activeTimeFrame('72h')">
                    72h
                </span>
                <span class="flex justify-center items-center  flex-0 self-stretch text-xs font-bold font-Barlow leading-normal min-w-[50.8px] cursor-pointer"
                [ngClass]="selectedTimeFrame === '7 days' ? 'bg-primaryBg rounded-[50px] text-secondaryText':'text-secondary-heiglight'" (click)="activeTimeFrame('7 days')">
                    7 days
                </span>
                <span class="flex justify-center items-center flex-0 self-stretch text-xs font-bold font-Barlow leading-normal min-w-[50.8px] cursor-pointer"
                [ngClass]="selectedTimeFrame === '30 days' ? 'bg-primaryBg rounded-[50px] text-secondaryText':'text-secondary-heiglight'" (click)="activeTimeFrame('30 days')">
                    30 days
                </span>
                <span class="flex justify-center items-center  flex-0 self-stretch text-xs font-bold font-Barlow leading-normal min-w-[50.8px] cursor-pointer"
                [ngClass]="selectedTimeFrame === '90 days' ? 'bg-primaryBg rounded-[50px] text-secondaryText':'text-secondary-heiglight'" (click)="activeTimeFrame('90 days')">
                    90 days
                </span>
            </div>
            <div class="flex items-center gap-[5px] self-stretch">
                <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-yellow w-full">42 Images</span>
                <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-custom-green">12%</span>
                <span class="flex w-[15px] h-[15px] flex-col justify-center items-center gap-[10px]">
                    <img src="/assets/svg-icons/increase-icon.svg" alt="" />
                </span>
            </div>
            <div class="flex flex-col items-start gap-[5px] self-stretch">
                <span class="flex-0 text-secondary-heiglight font-Barlow font-bold text-xs leading-[18px]">Most recent</span>
            <div class="flex items-center gap-[5px] self-stretch">
                <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-yellow w-full">16 minutes ago</span>
                <span class="flex-0 font-Barlow font-sm font-medium leading-[18px] text-secondaryText">86%</span>
                <span class="flex w-[15px] h-[15px] flex-col justify-center items-center gap-[10px]">
                    <img src="/assets/svg-icons/cloud-icon.svg" alt="" />
                </span>
            </div>
            </div>
        </div>
    </div>
   </div>
  } @else if (data.type === 'shape') {
    
  } @else {
    
  }