<div class="flex h-full flex-col z-[1000000000] font-Barlow">
    <div id="header"
        class="flex items-center justify-center self-stretch min-h-[48px] bg-secondaryBg px-[15px] gap-[15px] border-y border-solid border-custom-border">
        <span class="text-xs leading-[18px] font-bold text-secondary-heiglight w-full">
            <input matInput placeholder="Saved sites" (keyup)="onKeyPress($event)"
                class="outline-none bg-secondaryBg w-full placeholder:text-secondary-heiglight text-secondary-heiglight text-xs leading-[18px] font-bold" />
        </span>
        <div class="flex items-center">
            <span class="px-[15px] py-[5px] cursor-pointer bg-primaryBg rounded-[50px] min-w-[44px] !h-[24px] flex justify-center items-center gap-[10px] self-stretch">
                <img src="assets/svg-icons/search-icon.svg" class="w-[14px] h-[14px]" />
            </span>
        </div>
        <!-- <div class="flex items-center">
            <span class="px-[15px] py-[5px] bg-primaryBg cursor-pointer rounded-[50px] min-w-[44px] !h-[24px] flex justify-center items-center gap-[10px] self-stretch">
                <img src="assets/svg-icons/filter-icon.svg" class="w-[14px] h-[14px]" />
            </span>
        </div> -->
        
        <span class="w-[16px] h-[14px] !min-w-[16px] !min-h-[14px] cursor-pointer" (click)="closeLibraryDrawer()">
            <img src="assets/svg-icons/drawer-toggle-icon.svg" />
        </span>
    </div>
    <div *ngIf="loader" class="z-[1000000] absolute" id="loader"> <ngx-ui-loader></ngx-ui-loader></div>
    <div class="flex flex-col items-start flex-0 overflow-y-auto self-stretch" #scrollableDiv>
        @for (site of sitesData; track site;let index = $index) {
        <div
            class="flex p-[15px] items-center gap-[15px] self-stretch bg-primaryBg border-b border-b-solid border-custom-border">
            <div class="flex flex-col items-start gap-[15px] flex-0">
                <div class="flex py-[5px] items-center gap-[15px] self-stretch">
                    <span class="w-[16px] flex">
                        <img class="object-cover w-[40px] h-[30px]" height="30" width="30"
                            [src]="site?.site_type =='Polygon'? 'assets/svg-icons/polygon-icon.svg':'assets/svg-icons/rectangle-icon.svg'" />
                    </span>
                    <span class="text-secondaryText w-full text-sm font-medium leading-normal">{{site?.name}}</span>
                    <span class="w-[16px] h-[16px] flex">
                        <img src="assets/svg-icons/plus-icon.svg" />
                    </span>
                    <!-- <span class="w-[16px] h-[16px] flex">
                        <img src="assets/svg-icons/nav-menu-icon.svg" />
                    </span> -->
                    <div class="w-[16px] h-[16px] flex ">
                        <span class="w-[16px] h-[16px] flex cursor-pointer" [matMenuTriggerFor]="menu" (click)="setClass()">
                            <img src="assets/svg-icons/nav-menu-icon.svg" />
                        </span>
                        <mat-menu class="bg-secondaryBg" #menu="matMenu" id="site">
                            <div class="inline-flex p-[15px] font-Barlow flex-col items-start gap-[15px]">
                                <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Notifications</span>
                                <div class="rounded-[25px] bg-primaryBg flex items-center justify-between">
                                    <button (click)="updateSite(true,site)"
                                        class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[10px] ml-[7px] rounded-[19px] px-[20px]"
                                        [ngClass]="site?.notification ?'text-[#453303] bg-yellow':'text-secondary-heiglight'">On
                                       </button>
                                    <button (click)="updateSite(false,site)"
                                        class="text-xs leading-[18px] py-[9px] font-semibold my-[7px] mr-[7px] rounded-[19px] px-[20px] "
                                        [ngClass]="!site?.notification?'text-[#453303] bg-yellow':'text-secondary-heiglight'">Off</button>
                                </div>
                                <div id="renameMenu">
                                    <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" [matMenuTriggerFor]="rename" (click)="$event.stopPropagation();patchNameValue(site);setClass()">Rename</span>
                                    <mat-menu class="bg-primaryBg" #rename="matMenu" id="rename">
                                        <div class="p-[15px] flex flex-col gap-[15px]">
                                            <div class="flex flex-col gap-3" (click)="$event.stopPropagation()">
                                                <span class="text-secondary-heiglight font-semibold text-xs leading-[18px]">Save
                                                    selection</span>
                                                <mat-form-field id="rename" appearance="outline" class="!w-[320px]"
                                                    (click)="$event.stopPropagation()">
                                                    <mat-label>Rename</mat-label>
                                                    <input [(ngModel)]="name" matInput placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                           
                                            <button 
                                                class="flex justify-center text-[#453303] items-center text-center w-full h-[38px] py-[10px] bg-yellow rounded-[5px]" (click)="updateSite('rename',site)">Save</button>
                                            <button
                                                class="flex justify-center text-[##ABB7C0] items-center text-center w-full h-[38px] py-[10px] bg-secondary-heiglight rounded-[5px]">Cancel</button>
                                        </div>
                                    </mat-menu>
                                </div>
                                <div>
                                 <span class="text-yellow text-xs font-bold leading-[18px] cursor-pointer" [matMenuTriggerFor]="delete" (click)="$event.stopPropagation();setClass()">Delete</span>
                                 <mat-menu class="bg-primaryBg" #delete="matMenu" id="delete">
                                    <div class="p-[15px] flex flex-col gap-[15px]">
                                        
                                       <span class="text-secondaryText text-sm font-bold leading-normal">Are you sure you want to remove this item?</span>
                                        <button 
                                            class="flex justify-center text-[#453303] items-center text-center w-full h-[38px] py-[10px] bg-yellow rounded-[5px]" (click)="updateSite('delete',site)">Delete</button>
                                        <button
                                            class="flex justify-center text-[##ABB7C0] items-center text-center w-full h-[38px] py-[10px] bg-secondary-heiglight rounded-[5px]">Cancel</button>
                                    </div>
                                </mat-menu>
                                </div>
                            </div>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex min-w-[775px] items-center gap-[15px] self-stretch custome-grid">
                    <div
                        class="flex flex-col justify-center items-start p-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg min-w-[100px]">
                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Frequency</span>
                        <span class="text-secondaryText text-xs font-bold leading-normal">{{site?.frequency}}</span>
                    </div>
                    <div
                        class="flex flex-col justify-center items-start p-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg min-w-[100px]">
                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Most recent</span>
                        <span class="text-secondaryText text-xs font-bold leading-normal">{{site?.most_recent | dateFormat}}</span>
                    </div>
                    <div
                        class="flex flex-col justify-center items-start p-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg min-w-[100px]">
                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Gap</span>
                        <span class="text-secondaryText text-xs font-bold leading-normal">{{site?.gap.toFixed(3)}}</span>
                    </div>
                    <div
                        class="flex flex-col justify-center items-start p-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg min-w-[100px]">
                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Most recent</span>
                        <span class="text-yellow text-xs font-bold leading-normal">{{site?.most_recent | dateFormat}}</span>
                    </div>
                    <div
                        class="flex flex-col justify-center items-start p-[15px] self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg min-w-[150px]">
                        <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">Most recent clear</span>
                        <span class="text-yellow text-xs font-bold leading-normal">{{site?.most_recent_clear | dateFormat}}</span>
                    </div>
                     @if (site) {
                        <div
                        class="flex relative flex-col justify-center w-[229px] p-[5px] items-center self-stretch gap-[5px] rounded-[5px] border border-solid border-custom-border bg-primaryBg">
                       
                        @if (site.heatmap.length) {
                            <div class="absolute -left-[14px] -top-[24px]" [id]="'chart' + index"></div>
                        } @else {
                            <span class="text-secondary-heiglight text-xs font-bold leading-[18px]">No heatmap data found</span>
                        }
                    </div>
                     }
                </div>
            </div>
        </div>
        }
    </div>
</div>